SBIS_BROWSER_COOKIE=""
SBIS_SELECTION_ID = 5984

MAIL_FROM_EMAIL=info@projectsbis.ru
MAIL_FROM_NAME=Атлантис
MAIL_SMTP_USERNAME=projectsbis
MAIL_SMTP_PASSWORD=
MAIL_SMTP_HOST=mail.projectsbis.ru
MAIL_SMTP_PORT=587

TEST_MAIL_EMAIL=suglobovdima@ya.ru

DAILY_REPORT_EMAILS=suglobovdima@ya.ru

ADMIN_PUBLIC_URL=https://mail.projectsbis.ru/admin
